<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div id="img-background">
      <img id="profile-image"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
        class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>

  <section class="add-favorites">
    <h2 id="fav-header"><%= isSelf ? "Your" : profile.name + "'s" %> Favorite Games</h2>
    
    
    <% if (isSelf) { %>
      <form id="add-to-favorites" action="/profiles/<%= profile.id %>" method="POST">
        <select name="gameId">
          <% games.forEach(game => { %>
            <option value="<%= game._id %>"><%= game.name %></option>
            <% }) %>
        </select>
        <button type="submit">Add to Favorites</button>
      </form>
    <% } %>   
  </section>
      
  <% if (profile.favorites.length) { %>
    
    <section class="card-container">
      <% profile.favorites.forEach(favorite => { %>
        <div class="card-base card" id="games-layout">
          
          <% if (isSelf) { %>
            <form class="delete-link" action="/profiles/<%= profile._id %>/<%= favorite._id %>?_method=DELETE" method="POST">
              <button class="delete-button" type="submit">X</button>
            </form>
          <% } %>
          
          <a href="/games/<%= favorite._id %>">
            <%  if ( favorite.coverImage.includes(".jpg") || favorite.coverImage.includes(".png")){ %>
              <img class="game-bg"
              src="<%= favorite.coverImage %>" 
              alt="game-background"
              >
              <% } else { %>   
                <img class="game-bg-noImg"
                src="/images/logo/FoxIcon.png"
                alt="game-background"
                >
                <% } %> 
              </a>
              <a class="btn-link" href="/games/<%= favorite._id %>">
                <button class="btn-base">
                  <%= favorite.name %> 
                </button>
                <div class="content">
                  Genre: <%= favorite.genre %>
                  <br>
                  <br>
                  Release Year: <%= favorite.releaseYear %> 
                </div>
              </a>
            </div>
      <% }) %>
    <% } else { %>
      <h1 id="no-favorites">
        <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any favorite games yet!
      </h1>
    <% } %>
  </section> 
</main>

<%- include('../partials/footer') %>