<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/games/show.css">

<section>
  <h1>Edit <%= game.name %></h1>
  <% if (user) { %>
    <form action="/games/<%= game._id %>?_method=PUT" method="POST">
      <label>Name:
        <input type="text" name="name" autocomplete="off">
      </label><br>
      <label>Genre:
        <input type="text" name="genre" autocomplete="off">
      </label><br>
      <label>ESRB Rating:
        <input type="text" name="esrbRating" autocomplete="off">
      </label><br>
      <label>Release Year:
        <input type="text" name="releaseYear" autocomplete="off">
      </label><br>
      <label>Cover Image:
        <input type="text" name="coverImage" autocomplete="off">
      </label><br>
      <button type="submit">Add Game</button>
    </form>
  <% } %>
</section>





<%- include('../partials/footer') %>