<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/games/index.css">

<main>
  <h1><%= title %></h1>
  
  <section>
    <% games.forEach(game => { %>
      <div id="games-layout">
        <a href="/games/<%= game._id %>"><%= game.name %></a> 
        <!-- <%#= game.releaseYear %>  -->
      </div>
        <% }) %>
  </section>

</main>




<%- include('../partials/footer') %>
