<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/games/index.css">

<main>
  <h1><%= title %></h1>
  
  <section class="card-container">
    <% games.forEach(game => { %>
      <div class="card-base" id="games-layout">
        <a href="/games/<%= game._id %>">
          <img class="game-bg"
            src="/images/GoT.jpg" 
            alt="game-background"
            width="350"
            height="300"
          >       
        </a>
        <a class="btn-link" href="/games/<%= game._id %>">
          <button class="btn-base">
            <%= game.name %> 
          </button>
          <div class="content">
            This is some placeholder text where I'll put other game info inside
          </div>
        </a>
        
          <%#= game.name %> 
        <!-- <%#= game.releaseYear %>  -->
      </div>
        <% }) %>
  </section>

</main>




<%- include('../partials/footer') %>
