<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css">
<%- include('../partials/nav') %>

<main class="content-push">
  <h1><%= game.name %></h1>

  <img 
    id="game-image"
    src="<%= game.coverImage %>" 
    alt="game-background"
  >    

  <section id="user-options">
    <% if (game.addedBy.equals(user?.profile._id)) { %>
      <form action="/games/<%= game._id %>/edit" method="GET">
        <button class="btn" type="submit">Edit Game</button>
      </form>
      <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete Game</button>
      </form>
    <% } %>
    <% if (user) { %>
      <button class="btn">
        <a id="add-review-btn" href="/games/<%= game._id %>/reviews">
          Add Review
        </a>
      </button>
    <% } %>
  </section> 

  <section id="details-section">
    <h2>Added by <%= game.addedBy.name %></h2>
    <div>Name: <%= game.name %></div>
      <div>Genre: <%= game.genre %></div>
      <div>ESRB Rating: <%= game.esrbRating %></div>
      <div>Release Year: <%= game.releaseYear %></div>
  </section>

  <section id="reviews-section">
      <% if (game.reviews.length) { %>
            <% let total = 0 %>
            <h3>All Reviews</h3>
            <% game.reviews.forEach(review => { %>
              <% total += review.rating %> 
                <div><p id="review-body">"<%= review.content %>"</p></div>
                <div><strong><%= review.addedBy.name %> - <%= review.rating %>/10</strong>
                <br>
                <%= review.createdAt.toLocaleDateString() %></div>
                
                <% if (review.addedBy.equals(user?.profile._id)) { %>
                  <form action="/games/<%= game._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="btn" id="delete-review" type="submit">Delete Review</button>
                  </form>
                <% } %>
                  
            <% }) %>
                  <h3 id="avg-review">Average Review Score: <%= (total / game.reviews.length).toFixed(1) %></h3>
      <% } else { %>
        <h3>No Reviews Yet</h3>
      <% } %> 
  </section>

</main>
<%- include('../partials/footer') %>