<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/games/show.css">

<section>
  <% if (game.addedBy.equals(user?.profile._id)) { %>
    <form action="/games/<%= game._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit <%= game.name %> Details</button>
    </form>
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete <%= game.name %> </button>
    </form>
  <% } %>

  <h2>Added by <%= game.addedBy.name %></h2>
  <div>Name: </div>
    <div><%= game.name %></div>
    <div>Genre: </div>
    <div><%= game.genre %></div>
    <div>ESRB Rating: </div>
    <div><%= game.esrbRating %></div>
    <div>Release Year: </div>
    <div><%= game.releaseYear %></div>
</section>





<%- include('../partials/footer') %>